*.pyc
.coverage
examples/django/application/local_settings.py
config_dev.json
centrifuge.db
build/*
centrifuge.egg-info/*
node_modules/*
dist/*
*.rdb
docs/_build/*
javascript/node_modules/*
.tox
*.egg
