html, body, #map-canvas {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
#map-canvas {
    position: relative;
}

#map-canvas div.noscrollbars{
    line-height:1.35;
    overflow:hidden;
    white-space:nowrap;
    padding: 2px;
}

#map-canvas div.noscrollbars img{
    width: 100%;
}

.flash {
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    cursor: pointer;
    float: left;
    transition: all 0.2s ease 0s;
    width: 2px;
    height: 2px;
    background: none repeat scroll 0 0 #FF3333;
}

.flash.active {
    animation: 1.0s ease-out 0.4s normal none infinite r20;
    -webkit-animation: r20 1.0s 0.4s ease-out infinite;
    -moz-animation: r20 1.0s 0.4s ease-out infinite;
}

@-moz-keyframes r20 {
    0% {
        box-shadow: 0 0 8px 6px #FF1A1A, 0 0 12px 10px rgba(0,0,0,0.0), 0 0 12px 14px #FF1A1A;
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 40px rgba(0,0,0,0.0), 0 0 4px 41px rgba(255, 26, 26, 0);
    }
}
@-webkit-keyframes r20 {
    0% {
        box-shadow: 0 0 8px 6px #FF1A1A, 0 0 12px 10px rgba(0,0,0,0.0), 0 0 12px 14px #FF1A1A;
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 40px rgba(0,0,0,0.0), 0 0 4px 41px rgba(255, 26, 26, 0);
    }
}
@-o-keyframes r20 {
    0% {
        box-shadow: 0 0 8px 6px #FF1A1A, 0 0 12px 10px rgba(0,0,0,0.0), 0 0 12px 14px #FF1A1A;
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 40px rgba(0,0,0,0.0), 0 0 4px 41px rgba(255, 26, 26, 0);
    }
}
@keyframes r20 {
    0% {
        box-shadow: 0 0 8px 6px #FF1A1A, 0 0 12px 10px rgba(0,0,0,0.0), 0 0 12px 14px #FF1A1A;
    }
    100% {
        box-shadow: 0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 40px rgba(0,0,0,0.0), 0 0 4px 41px rgba(255, 26, 26, 0);
    }
}