<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{{_("Centrifuge")}}{% end %}</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
        {% include 'staticbase.html' %}
        {% block extra_head %}{% end %}
    </head>
    <body>
        {% block body %}
        {% include 'navbar.html' %}
        <div id="wrap">
            <div class="row">
                <div class="content">
                    {% set flash = handler.get_flash_message() %}
                    {% if flash %}
                        <div class="alert alert-{{ flash['status'] }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            {{ flash['message'] }}
                        </div>
                    {% end %}
                    {% block content %}{% end %}
                </div>
            </div>
            <div id="push"></div>
        </div>
        {% end %}
        {% block extra_scripts %}{% end %}
    </body>
</html>
