{% extends 'base.html' %}

{% block content %}
<div class="marketing">
    <h1>Centrifuge</h1>
    <p class="text-muted">
        {{_("Simple real-time messaging in web applications.")}}
    </p>
    <form action="" method="post" class="form">
        {% raw xsrf_form_html() %}
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="{{_('Type administrative password to log in...')}}"/>
        </div>
        <button type="submit" class="btn btn-primary">{{_("Sign in")}}</button>
    </form>
</div>
{% end %}
