{% extends 'base.html' %}

{% block content %}
<div class="marketing">
    <div class="row">
    <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
        {% set logo_width = "100%" %}
        {% set logo_height = "100%" %}
        {% set logo_first_color = "#777777" %}
        {% set logo_second_color = "#428bca" %}
        {% include "logo.svg" %}
    </div>
    <div class="col-lg-9">
    <h1>
        Centrifuge
    </h1>
    <p class="text-muted">
        {{_("Simple real-time messaging in web applications.")}}
    </p>
    <form action="" method="post" class="form">
        {% raw xsrf_form_html() %}
        <div class="form-group">
            <input class="form-control" type="password" name="password" placeholder="{{_('Type administrative password to log in...')}}"/>
        </div>
        <button type="submit" class="btn btn-primary">{{_("Sign in")}}</button>
    </form>
    </div>
    </div>
</div>
{% end %}
