{% extends 'core/base.html' %}

{% block extra_head %}
     {% load static %}
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}"/>
    <script type="text/javascript">
        $(function () {

            var center = new google.maps.LatLng(0, 0);

            var flash_duration = 5300;

            var mapOptions = {
                zoom: 2,
                center: center,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            var map = new google.maps.Map($("#map-canvas").get(0), mapOptions);

            function CustomMarker(latlng, map, cls, img) {
                this.latlng_ = latlng;
                this.cls = cls;
                this.img = img || "//maps.google.com/mapfiles/marker.png";
                // Once the LatLng and text are set, add the overlay to the map. This will
                // trigger a call to panes_changed which should in turn call draw.
                this.setMap(map);
            }

            CustomMarker.prototype = new google.maps.OverlayView();

            CustomMarker.prototype.draw = function () {
                var me = this;
                // Check if the div has been created.
                var div = this.div_;
                if (!div) {
                    // Create a overlay text DIV
                    div = this.div_ = document.createElement('DIV');
                    div.style.border = "none";
                    div.style.position = "absolute";
                    div.style.paddingLeft = "0px";
                    div.style.cursor = 'pointer';
                    var img = document.createElement("img");
                    img.src = this.img;
                    div.appendChild(img);
                    var effect_div = document.createElement('DIV');
                    effect_div.className = this.cls;
                    effect_div.style.position = 'absolute';
                    effect_div.style.bottom = '1px';
                    effect_div.style.left = '9px';
                    div.appendChild(effect_div);
                    google.maps.event.addDomListener(div, "click", function (event) {
                        google.maps.event.trigger(me, "click");
                    });
                    setTimeout(function() {
                        $(effect_div).removeClass('active');
                    }, flash_duration);
                    // Then add the overlay to the DOM
                    var panes = this.getPanes();
                    panes.overlayImage.appendChild(div);
                }
                // Position the overlay
                var point = this.getProjection().fromLatLngToDivPixel(this.latlng_);
                if (point) {
                    div.style.left = point.x - 10 + 'px';
                    div.style.top = point.y - 35 + 'px';
                }
            };

            CustomMarker.prototype.remove = function () {
                // Check if the overlay was on the map and needs to be removed.
                if (this.div_) {
                    this.div_.parentNode.removeChild(this.div_);
                    this.div_ = null;
                }
            };

            CustomMarker.prototype.getPosition = function () {
                return this.latlng_;
            };

            var centrifuge = new Centrifuge({
                url: '{{ CENTRIFUGE_SOCKJS_ENDPOINT }}',
                project: '{{ CENTRIFUGE_PROJECT }}',
                user: '{{ CENTRIFUGE_USER }}',
                timestamp: '{{ CENTRIFUGE_TIMESTAMP }}',
                token: '{{ CENTRIFUGE_TOKEN }}',
                debug: true
            });

            var channel = 'map';

            centrifuge.on('connect', function(){

                var subscription = centrifuge.subscribe(channel, function(message) {
                    var data = message.data;
                    var position = new google.maps.LatLng(data["lat"], data["long"]);
                    var content = '<div class="noscrollbars">' + data["content"] + '</div>';

                    /*
                    var marker = new google.maps.Marker({map: map, position: position, clickable: true});
                    marker.info = new google.maps.InfoWindow({
                        content: content,
                        pixelOffset: new google.maps.Size(0, 15),
                        maxWidth: parseInt($(window).width()*0.2)
                    });
                    google.maps.event.addListener(marker, 'click', function() {
                        marker.info.open(map, marker);
                    });
                    marker.info.open(map, marker);
                    */

                    var overlay = new CustomMarker(position, map, 'flash active');

                    var iw = new google.maps.InfoWindow({
                        content: content,
                        pixelOffset: new google.maps.Size(0,-15),
                        maxWidth: parseInt($(window).width()*0.2)
                    });
                    iw.open(map, overlay);
                    setTimeout(function() {
                        iw.close();
                    }, 5300);
                    google.maps.event.addListener(overlay, "click", function() {
                        iw.open(map, overlay);
                    });

                });

                subscription.on('ready', function() {
                    subscription.presence(function(data) {
                        console.log(data);
                    });
                });

                subscription.on('join', function(message) {
                    console.log(message);
                });

                subscription.on('leave', function(message) {
                    console.log(message);
                });

            });

            centrifuge.on('error', function(error_message) {
                console.log(error_message);
            });

            centrifuge.on('disconnect', function(){

            });

            centrifuge.connect();

        });
    </script>
{% endblock %}

{% block content %}
    <div id="map-canvas"></div>
{% endblock %}