{% extends 'core/base.html' %}

{% block extra_head %}
    <style>
        html, body, #map-canvas {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
        }
        #map-canvas {
            position: relative;
        }

        #map-canvas div.noscrollbars{
            line-height:1.35;
            overflow:hidden;
            white-space:nowrap;
            padding: 2px;
        }

        #map-canvas div.noscrollbars img{
            width: 100%;
        }

        .s {
            border-radius: 50%;
            cursor: pointer;
            float: left;
            transition: all 0.2s ease 0s;
            width: 10px;
            height: 10px;
            background: none repeat scroll 0 0 #FF3333;
        }

        .s.active {
            animation: 1.0s ease-out 0.4s normal none infinite r20;
        }

        @-moz-keyframes r20 {
            0% {
                box-shadow: 0 0 8px 6px #FF1A1A, 0 0 12px 10px rgba(0,0,0,0.0), 0 0 12px 14px #FF1A1A;
            }
            100% {
                box-shadow: 0 0 8px 6px rgba(255, 26, 26, 0), 0 0 4px 40px rgba(0,0,0,0.0), 0 0 4px 41px rgba(255, 26, 26, 0);
            }
        }

    </style>
    <script type="text/javascript">
        $(function () {
            var center = new google.maps.LatLng(0, 0);
            var mapOptions = {
                zoom: 2,
                center: center,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map($("#map-canvas").get(0), mapOptions);

            function CustomMarker(latlng, map, cls) {
                this.latlng_ = latlng;
                this.cls = cls;
                // Once the LatLng and text are set, add the overlay to the map. This will
                // trigger a call to panes_changed which should in turn call draw.
                this.setMap(map);
            }

            CustomMarker.prototype = new google.maps.OverlayView();

            CustomMarker.prototype.draw = function () {
                var me = this;
                // Check if the div has been created.
                var div = this.div_;
                if (!div) {
                    // Create a overlay text DIV
                    div = this.div_ = document.createElement('DIV');
                    // Create the DIV representing our CustomMarker
                    div.className = this.cls;
                    div.style.border = "none";
                    div.style.position = "absolute";
                    div.style.paddingLeft = "0px";
                    div.style.cursor = 'pointer';
                    var img = document.createElement("img");
                    img.src = "data:image/gif;base64,R0lGODlhAQABAIAAAAAAAP///yH5BAEAAAAALAAAAAABAAEAAAIBRAA7";
                    div.appendChild(img);
                    google.maps.event.addDomListener(div, "click", function (event) {
                        google.maps.event.trigger(me, "click");
                    });
                    setTimeout(function() {
                        $(div).removeClass('active');
                    }, 5300);
                    // Then add the overlay to the DOM
                    var panes = this.getPanes();
                    panes.overlayImage.appendChild(div);
                }
                // Position the overlay
                var point = this.getProjection().fromLatLngToDivPixel(this.latlng_);
                if (point) {
                    div.style.left = point.x + 'px';
                    div.style.top = point.y - 5 + 'px';
                }
            };

            CustomMarker.prototype.remove = function () {
                // Check if the overlay was on the map and needs to be removed.
                if (this.div_) {
                    this.div_.parentNode.removeChild(this.div_);
                    this.div_ = null;
                }
            };

            CustomMarker.prototype.getPosition = function () {
                return this.latlng_;
            };

            var centrifuge = new Centrifuge({
                url: '{{ CENTRIFUGE_URL }}',
                project: '{{ CENTRIFUGE_PROJECT }}',
                user: '{{ CENTRIFUGE_USER }}',
                timestamp: '{{ CENTRIFUGE_TIMESTAMP }}',
                token: '{{ CENTRIFUGE_TOKEN }}',
                debug: true
            });

            var channel = 'map';

            centrifuge.on('connect', function(){

                var subscription = centrifuge.subscribe(channel, function(message) {
                    var data = message.data;
                    var position = new google.maps.LatLng(data["lat"], data["long"]);
                    var content = '<div class="noscrollbars">' + data["content"] + '</div>';

                    /*
                    var marker = new google.maps.Marker({map: map, position: position, clickable: true});
                    marker.info = new google.maps.InfoWindow({
                        content: content,
                        pixelOffset: new google.maps.Size(0, 15),
                        maxWidth: parseInt($(window).width()*0.2)
                    });
                    google.maps.event.addListener(marker, 'click', function() {
                        marker.info.open(map, marker);
                    });
                    marker.info.open(map, marker);
                    */


                    var overlay = new CustomMarker(position, map, 's active');

                    var iw = new google.maps.InfoWindow({
                        content: content,
                        pixelOffset: new google.maps.Size(5,0),
                        maxWidth: parseInt($(window).width()*0.2)
                    });
                    iw.open(map, overlay);
                    setTimeout(function() {
                        iw.close();
                    }, 5300);
                    google.maps.event.addListener(overlay, "click", function() {
                        iw.open(map, overlay);
                    });

                });

                subscription.on('ready', function() {
                    subscription.presence(function(data) {
                        console.log(data);
                    });
                });

                subscription.on('join', function(message) {
                    console.log(message);
                });

                subscription.on('leave', function(message) {
                    console.log(message);
                });

            });

            centrifuge.on('error', function(error_message) {
                console.log(error_message);
            });

            centrifuge.on('disconnect', function(){

            });

            centrifuge.connect();

        });
    </script>
{% endblock %}

{% block content %}
    <div id="map-canvas"></div>
{% endblock %}