{% extends 'detail.html' %}

{% block title %}{{_("Project credentials")}}{% end %}

{% block tab_credentials %}active{% end %}

{% block section_active %}credentials{% end %}

{% block section %}
    <div class="bottom_buffer">
        <h4>{{_("Credentials")}}</h4>
        <p>{{_("PROJECT ID")}} <span class="text-muted">{{_("(unique id of this project - used to identify project in client and admin API)")}}</span></p>
        <p style="font-size: 16px; font-family: Courier; margin-bottom: 20px;">{{project['_id']}}</p>
        <p>{{_("SECRET KEY")}} <span class="text-muted">{{_("(secret key for this project - used to sign requests in admin API and generate client connection token)")}}</span></p>
        <p style="font-size: 16px; font-family: Courier; margin-bottom: 20px;">{{project['secret_key']}}</p>
        <form class="form-inline" method="post" action="" >
            {% raw xsrf_form_html() %}
            <button type="submit" name="submit" value="regenerate_secret" class="btn btn-danger">
                {{_("Regenerate secret key")}}
            </button>
            <input type="text" class="form-control confirm-input" name="confirm" placeholder="{{_('Type project name to confirm')}}">
        </form>
    </div>
{% end %}
