{% extends 'detail.html' %}

{% block tab_namespaces %}active{% end %}

{% block title %}{{_("Project namespaces")}}{% end %}

{% block section_active %}namespaces{% end %}

{% block section %}
    <div class="bottom_buffer">
        <h4>{{_("Namespaces")}}</h4>
        <a class="btn btn-primary" href="{{ handler.reverse_url("namespace_create", project['_id']) }}">{{_("Create new namespace")}}</a>
        <br /><br />
        <table class="table" style="max-width: 500px;">
            {% for namespace in namespaces %}
                <tr class="project-namespace">
                    <td class="col-lg-11">
                        {{namespace['name']}}
                    </td>
                    <td class="col-lg-1">
                        <a href="{{ handler.reverse_url("namespace_edit", project['_id'], namespace['_id']) }}" class="btn btn-primary pull-right">{{_("Edit")}}</a>
                    </td>
                </tr>
            {% end %}
        </table>
    </div>
{% end %}
