{% extends 'detail.html' %}

{% block title %}{{_("Project credentials")}}{% end %}

{% block tab_credentials %}active{% end %}

{% block section_active %}credentials{% end %}

{% block section %}
    <div class="bottom_buffer">
        <h4>{{_("Credentials")}}</h4>
        <p>{{_("PROJECT ID")}}:</p>
        <p style="font-size: 16px; font-family: Courier;">{{project['_id']}}</p>
        <p>{{_("SECRET KEY")}}:</p>
        <p style="font-size: 16px; font-family: Courier;">{{project['secret_key']}}</p>
        <form class="form-inline" method="post" action="" >
            {% raw xsrf_form_html() %}
            <button type="submit" name="submit" value="regenerate_secret" class="btn btn-danger">
                {{_("Regenerate secret key")}}
            </button>
            <input type="text" class="form-control confirm-input" name="confirm" placeholder="{{_('Type project name to confirm')}}">
        </form>
    </div>
{% end %}
