<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="noindex" name="robots">
        <link href="http://s.codepen.io/assets/reset/reset.css" rel="stylesheet">
        {% block extra_head %}{% endblock %}
    </head>
    <body>
        <div class="wrapper">
            {% block content %}{% endblock %}
        </div>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
        {% block extra_body %}{% endblock %}
    </body>
</html>