{% extends 'core/base.html' %}

{% block extra_head %}
    <script src="http://s.codepen.io/assets/libs/prefixfree.min.js"></script>
    <style>
        /* Import Icon fonts and web font */
        @import "http://fonts.googleapis.com/css?family=Open+Sans:400,300,700";
        @import "http://weloveiconfonts.com/api/?family=entypo";
        @import url(http://weloveiconfonts.com/api/?family=fontawesome);

            /* entypo */
        [class*="entypo-"]:before {
            font-family: 'entypo', sans-serif;
        }

            /* fontawesome */
        [class*="fontawesome-"]:before {
            font-family: 'FontAwesome', sans-serif;
        }

        .wrapper {
            width: 1000px;
            margin: 0 auto;
            background-color: #1f222a;
            vertical-align: middle;
        }

        body {
            color: #eeeeee;
            font-family: 'Open Sans', sans-serif;
            background-color: #1f222a;
            font-size: 40px;
        }

        section {
            height: 100%;
            box-sizing: border-box;
            padding: 10px 40px;
            position: relative;
            background-color: #1f222a;
            border-radius: 7px;
            text-align: center;
        }

        section h1 {
            padding: 20px 0px 35px 0px;
            position: relative;
            font-size: 1.5em;
            border-bottom: 2px solid #4b4e57;
        }

        section .temperature {
            padding: 40px 0;
            color: #3d414c;
            font-size: 6em;
            transition: color 0.5s ease;
        }

        section .temperature:hover {
            color: yellow;
        }

        section .temperature h2 {
            display: inline;
            color: #eeeeee;
            font-weight: 300;
        }

        section .temperature h2 span.degree-symbol {
            display: inline-block;
            margin: 0 15px;
            font-size: 0.6em;
            vertical-align: top;
        }

        section .temperature h2 span.celcius {
            display: inline-block;
            margin: 10px 0 0 15px;
            color: #3d414c;
            font-size: 0.3em;
            vertical-align: top;
        }

        section ul {
            padding: 5px;
            margin-bottom: 70px;
            display: inline-block;
        }

        section ul li {
            display: block;
            float: left;
            margin-right: 0.7em;
            color: #3d414c;
            font-size: 2em;
        }

        section ul li:last-child {
            margin-right: 0;
        }

        section ul li span {
            padding-left: 0.1em;
            color: #eeeeee;
            font-size: 0.9em;
            vertical-align: top;
        }

        section a {
            color: #60646e;
            font-size: 1.2em;
            text-decoration: none;
            transition: color 0.5s;
        }

        section a:hover {
            color: #eeeeee;
        }

        @media (max-width: 1000px) {
            body {
                font-size: 30px;
            }
            .wrapper {
                width: 100%;
            }
        }

        @media (max-width: 840px) {
            body {
                font-size: 20px;
            }
        }

        @media (max-width: 640px) {
            body {
                font-size: 14px;
            }
        }

        @media (max-width: 420px) {
            body {
                font-size: 8px;
            }
        }
    </style>
    <script type="text/javascript">

    </script>
{% endblock %}

{% block content %}
    <section>

        <h1>{{ WEATHER_CITY|upper }}</h1>

        <div class="temperature entypo-light-up">
            <h2>24<span class="degree-symbol">°</span>C</h2>
        </div>

        <ul>
            <li class="fontawesome-leaf left">
                <span>4 mph</span>
            </li>
            <li class="fontawesome-tint center">
                <span>65%</span>
            </li>
            <li class="fontawesome-umbrella right">
                <span>10%</span>
            </li>
        </ul>
    </section>
{% endblock %}