{% extends '../base.html' %}

{% block title %}{{_("Centrifuge")}}{% end %}

{% block content %}
<form class="baseform" method="post" action="">
    <fieldset>
        {% if form_data %}
            <label class="alert alert-danger">
                {{_("Error. Malformed project name or project with such name already exists")}}
            </label>
        {% end %}
        {% raw xsrf_form_html() %}
        <legend>{{_("Create new project")}}</legend>
        <div class="form-group">
            <label>{{_("Unique Project Name (used as unique project identificator)")}}</label>
            <input type="text" class="form-control" name="name" placeholder="{{_("Use ascii only")}}" value="{{form_data.get('name') or ''}}">
        </div>
        <div class="form-group">
            <label>{{_("Display Name (human readable project name)")}}</label>
            <input type="text" class="form-control" name="display_name" value="{{form_data.get('display_name') or ''}}">
        </div>
        <div class="form-group">
            <label>{{_("Description (optional)")}}</label>
            <textarea class="form-control" placeholder="{{_("Type project description…")}}" name="description">{{form_data.get('description', '')}}</textarea>
        </div>
        <div class="form-group">
            <label>{{_("Address to validate user's authorization")}}</label>
            <input type="text" class="form-control" name="validate_url" value="{{form_data.get('validate_url') or ''}}">
        </div>
        <div class="form-group">
            <label>{{_("Max authorization attempts, must be positive integer (5 if empty)")}}</label>
            <input type="text" class="form-control" name="auth_attempts" value="{{form_data.get('auth_attempts') or ''}}">
        </div>
        <div class="form-group">
            <label>{{_("Back-off interval in milliseconds, must be positive integer (100 if empty)")}}</label>
            <input type="text" class="form-control" name="back_off_interval" value="{{form_data.get('back_off_interval') or ''}}">
        </div>
        <div class="form-group">
            <label>{{_("Back-off max timeout in milliseconds, must be positive integer (5000 if empty)")}}</label>
            <input type="text" class="form-control" name="back_off_max_timeout" value="{{form_data.get('back_off_max_timeout') or ''}}">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Submit</button>
        </div>
    </fieldset>
</form>
{% end %}

{% block panel %}{% end %}




