{% extends 'detail.html' %}

{% block title %}{{_("Project credentials")}}{% end %}

{% block tab_credentials %}active{% end %}

{% block section_active %}credentials{% end %}

{% block section %}
    <div class="bottom_buffer">
        <h4>{{_("Project credentials")}}</h4>
        <table class="table table-main"  style="max-width: 700px;">
            <tr>
                <td>{{_("Project Id")}}</td>
                <td><span class="credential">{{project['_id']}}</span></td>
            </tr>
            <tr>
                <td>{{_("Secret Key")}}</td>
                <td><span class="credential">{{project['secret_key']}}</span></td>
            </tr>
        </table>
        <form class="form-inline" method="post" action="" >
            {% raw xsrf_form_html() %}
            <button type="submit" name="submit" value="regenerate_secret" class="btn btn-danger">
                {{_("Regenerate secret key")}}
            </button>
            <input type="text" class="form-control confirm-input" name="confirm" placeholder="{{_('Type project name to confirm')}}">
        </form>
    </div>
{% end %}
