{% extends 'settings.html' %}

{% block tab_users %}active{% end %}

{% block section_active %}users{% end %}

{% block section %}
<div class="row-fluid">
    <fieldset>
        <legend>{{_("Users and permissions")}}</legend>
        <form action="" method="post" class="form-inline">
            {% raw xsrf_form_html() %}
            <input type="text" name="email" placeholder="{{_("user email")}}" style="margin-bottom: 0px;">
            <label class="checkbox">
                <input type="checkbox" name="readonly" id="readonly" checked>
                {{_("readonly")}}
            </label>
            <button type="submit" name="submit" value="user_add" class="btn btn-default">{{_("add")}}</button>
        </form>
        {% if project_users %}
        <table class="table table-striped">
            {% for project_user in project_users %}
                <tr>
                    <td>
                        {{project_user.get('email', None)}}
                        &nbsp;
                        {% if project_user.get('readonly', True) %}
                            {{_("readonly")}}
                        {% end %}
                        {% if project_user['_id'] != user['_id'] %}
                            <form action="" method="post" class="pull-right form-delete">
                                {% raw xsrf_form_html() %}
                                <input type="hidden" name="email" value="{{project_user['email']}}" />
                                <button type="submit" name="submit" value="user_del" class="btn btn-default">{{_("delete")}}</button>
                            </form>
                        {% else %}
                            <span class="pull-right">{{_("owner")}}</span>
                        {% end %}
                    </td>
                </tr>
            {% end %}
        </table>
        {% else %}
            {{_("No users found")}}
        {% end %}
    </fieldset>
</div>
{% end %}