{% extends '../base.html' %}

{% block title %}{{_("Project settings")}}{% end %}

{% block content %}
<div class="row-fluid">
    <ul class="nav nav-tabs" id="tabs">
        <li class="{% block tab_general %}{% end %}"><a href="{{reverse_url("project_settings", project['name'], 'general')}}">{{_("General")}}</a></li>
        <li class="{% block tab_edit %}{% end %}"><a href="{{reverse_url("project_settings", project['name'], 'edit')}}">{{_("Edit")}}</a></li>
    </ul>
    <div class="row-fluid">
        <div class="span12">
            <div class="tab-content" id="tab-content">
                <div class="tab-pane active in" id="{% block section_active %}{% end %}">{% block section %}{% end %}</div>
            </div>
        </div>
    </div>
</div>
{% end %}

{% block panel %}{% end %}




