{% extends '../base.html' %}

{% block title %}{{_("Project settings")}}{% end %}

{% block content %}
<div class="row">
    <div class="col-lg-3">
        <ul class="nav nav-pills nav-stacked" id="tabs">
            <li class="{% block tab_general %}{% end %}"><a href="{{reverse_url("project_settings", project['_id'], 'general')}}">{{_("General")}}</a></li>
            <li class="{% block tab_edit %}{% end %}"><a href="{{reverse_url("project_settings", project['_id'], 'edit')}}">{{_("Edit")}}</a></li>
            <li class="{% block tab_actions %}{% end %}"><a href="{{reverse_url("project_settings", project['_id'], 'actions')}}">{{_("Actions")}}</a></li>
        </ul>
    </div>
    <div class="col-lg-9">
        <div class="tab-content" id="tab-content">
            <div class="tab-pane active in" id="{% block section_active %}{% end %}">
                <h2 class="project-header">Project "{{ project["name"] }}"</h2>
                {% block section %}{% end %}
            </div>
        </div>
    </div>
</div>
{% end %}

{% block panel %}{% end %}




