html {
    overflow-y: scroll;
}
form {
    margin-top: 40px;
}
.form-control {
    padding-left: 2px;
    width: 50%;
}
.tab-content {
    padding-top: 20px;
}
label {
    font-weight: normal;
}
.navbar {
    border-radius: 0;
}
#wrap {
	/* Negative indent footer by it's height */
	margin: 0 auto;
    margin-top: 20px;
	width: 80%;
    max-width: 1400px;
    padding-bottom: 30px;
}
.marketing h1 {
    margin: 60px 0 10px;
    font-size: 60px;
    font-weight: 200;
    line-height: 1;
    letter-spacing: -1px;
    color: #4b4b4b;
}
.marketing p {
    font-size: 30px;
    line-height: 40px;
}
.baseform input, .baseform textarea {
    width: 50%;
}
.navbar {
	margin-bottom: 0;
}
.label-counter {
	margin-left: 5px;
}

.right {
	text-align: right !important;
}
.center {
	text-align: center !important;
}
.hidden {
	display: none;
}

.event {
	margin-left: 20px;
	margin-bottom: 25px;
}

.string { color: green; }
.number { color: darkorange; }
.boolean { color: blue; }
.null { color: magenta; }
.key { color: red; }

.event-header {
    border-radius: 2px 2px 0 0;
    box-shadow: none;
    margin-bottom: -1px;
    overflow: hidden;
    padding: 10px;
}
.event-key {
	font-size: 20px;
	font-family: Tahoma, Geneva, sans-serif;
    text-transform: uppercase;
}
.event-description {
	padding: 0;
	padding-left: 0;
}

.project {
    margin-left: 0 !important;
    margin-bottom: 20px;
}
.project-header {
    height:50px;
    line-height:50px;
    margin-left: 15px;
}
.project-name {
    font-size: 30px;
    font-family: Tahoma,Geneva,sans-serif;
}
.project-settings {
    font-size: 14px;
}
.project-meta {
    color: #999999;
    margin-left: 15px;
}
.project-event-counter {
    font-size: 30px;
}

.connection-status {
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 15px;
    font-size: 18px;
}
.connected {
    color: #AAA;
}
.not-connected {
    color: darkred;
}

.bs-callout {
    border-left: 5px solid #EEEEEE;
    margin: 4px 0;
    padding: 5px 30px 5px 5px;
    width: 50%;
}
.bs-callout-large {
    border-left: 5px solid #EEEEEE;
    margin: 10px 0;
    padding: 15px 30px 15px 15px;
    width: 100%;
}
.bs-callout-danger {
    background-color: #FCF2F2;
    border-color: #DFB5B4;
}