<!DOCTYPE html>
<html>
    <head>
        <title>{% block title %}{% end %}</title>
        <meta name="description" content=""/>
        <meta name="author" content=""/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0"/>
        {% include 'staticbase.html' %}
        {% block extra_head %}{% end %}
    </head>
    <body>
        {% include 'navbar.html' %}
        <div id="wrap">
            <div class="row-fluid">
                <div class="span12">
                    <div class="content">
                        {% block content %}{% end %}
                    </div>
                </div>
            </div>
            <div id="push"></div>
        </div>
        {% block extra_scripts %}{% end %}
    </body>
</html>
