{% extends 'base.html' %}

{% block content %}
    <div class="marketing">
        <h1>Centrifuge</h1>
        <hr />
        <p class="muted">
            {{_("Light and simple open-source platform for real-time message broadcasting in your web applications.")}}
        </p>
        <hr />
        <form action="" method="post" class="form-inline">
            {% raw xsrf_form_html() %}
            <input type="password" name="password" placeholder="{{_('enter password to log in...')}}"/>
            <button type="submit" class="btn btn-primary">{{_("Let me in")}}</button>
        </form>

    </div>
{% end %}
