{% extends 'base.html' %}

{% block content %}
<div class="marketing">
    <h1>Centrifuge</h1>
    <hr/>
    <p class="muted">
        {{_("Simple real-time messaging in web applications.")}}
    </p>
    <hr/>
    <form action="" method="post" class="form-inline">
        {% raw xsrf_form_html() %}
        <input class="form-control" type="password" name="password" placeholder="{{_('Type administrative password to log in...')}}"/>
        <button type="submit" class="btn btn-primary">{{_("Let me in")}}</button>
    </form>
</div>
{% end %}
