{% extends 'base.html' %}

{% block title %}{{_("Centrifuge")}}{% end %}

{% block extra_scripts %}
<script type="text/javascript" src="{{ static_url('libs/sockjs/sockjs-0.3.4.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('application/js/main.js') }}"></script>
<script type="text/javascript">
    $(document).ready(function() {
        var js_data = {% raw js_data %};
        $.centrifuge_main(js_data);
    });
</script>
{% end %}

{% block content %}
<script type="text/x-jsrender" id="event_template">
    <div class="event" id="event-{{!>event_id}}" style="display: none;">
        <div class="event-header">
            <span class="event-key">
                <span class="event-key-word text-muted">
                    {{!>namespace}}
                </span>
                <span class="event-key-word">
                    {{!>channel}}
                </span>
            </span>
        </div>
        <div class="event-description">
            <pre>{{!:data}}</pre>
        </div>
    </div>
</script>

<script type="text/x-jsrender" id="project_template">
    <div class="project {{!if is_owner}}project-own{{!/if}} col-lg-4" id="project-{{!>_id}}" data-project-id="{{!>_id}}" data-project-name="{{!>name}}" data-project-display="{{!>display_name}}">
        <div class="row">
            <div class="col-lg-12">
                <div class="project-header">
                    <a href="#" class="project-name" data-tab-open="{{!>_id}}">{{!>display_name}}</a>
                    <a href="#" data-tab-open="{{!>_id}}" style="margin: 0 auto;">
                        <span class="pill"><i class="text-info project-event-counter"></i></span>
                    </a>
                </div>
                <div class="project-meta">
                    <div>
                        {{!>name}}
                        &nbsp;
                        <a href="/project/{{!>name}}/settings/general" class="project-settings">{{_("settings")}}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-jsrender" id="tab_pane_template">
    <div class="tab-pane in active" id="{{!>name}}" data-id="{{!>_id}}">
        <div class="connection-status">
            <span class="connected">
                <img src="{{ static_url('application/img/loader.gif') }}">&nbsp;&nbsp;&nbsp;{{_("waiting for events...")}}
            </span>
            <span class="not-connected" style="display:none;">{{_("Disconnected")}}</span>
        </div>
        <div class="log"></div>
    </div>
</script>

<script type="text/x-jsrender" id="tab_template">
    <li>
        <a href="#{{!>name}}" id="tab-{{!>_id}}" data-id="{{!>_id}}" data-name="{{!>name}}" data-tab-open="{{!>_id}}" data-toggle="tab">{{!>tab_text}}</a>
    </li>
</script>

<div id="main-content">
    <ul class="nav nav-tabs" id="tabs">
        <li><a href="#_projects" id="tab-_projects" data-id="_projects" data-name="_projects" data-toggle="tab">{{_("projects")}}</a></li>
    </ul>
    <div class="row">
        <div class="col-lg-12">
            <div class="tab-content" id="tab-content">
                <div class="tab-pane" id="_projects"></div>
            </div>
        </div>
    </div>
</div>
{% end %}



