<div class="navbar">
	<div class="navbar-inner">
		<div class="container-fluid">
			<a data-target=".top-nav.nav-collapse,.sidebar-nav.nav-collapse" data-toggle="collapse" class="btn btn-navbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</a>
			<a href="{{reverse_url("main")}}" class="brand">
				Centrifuge
			</a>

			<ul class="nav">
                {% if handler.get_current_user() %}
                <li class="">
                    <a href="{{reverse_url('main')}}">{{_("Projects")}}</a>
                </li>
                <li class="">
                    <a href="{{reverse_url('project_create')}}">{{_("Create project")}}</a>
                </li>
                {% end %}
				<li class="">
					<a href="#" target="_blank">{{_("Documentation")}}</a>
				</li>
				<li class="">
					<a href="https://github.com/FZambia/centrifuge" target="_blank">{{_("Source code")}}</a>
				</li>
			</ul>

			<div class="btn-group pull-right">
				{% if not current_user %}
                    {% if handler.settings.get('options', {}).get("auth_github", False) %}
                        <a class="btn btn-default" href="{{reverse_url("auth_github")}}">{{_("log in with Github")}}</a>
					{% end %}
                    <a class="btn btn-default" href="{{reverse_url("auth_google")}}">{{_("log in with Google")}}</a>
				{% else %}
					<a href="#" data-toggle="dropdown" class="btn dropdown-toggle user-btn">
						<span class="hidden-phone hidden-tablet">{{current_user['email']}}</span>
						<span class="caret"></span>
					</a>
					<ul class="dropdown-menu">
						<li><a href="{{handler.reverse_url("logout")}}">{{_("Logout")}}</a></li>
					</ul>
				{% end %}
			</div>

		</div>
	</div>
</div>
