<link href="http://getbootstrap.com/dist/css/bootstrap.css" rel="stylesheet">
<link href="{{ static_url('application/css/styles.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ static_url('libs/jquery/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="http://getbootstrap.com/dist/js/bootstrap.js"></script>
<script type="text/javascript" src="{{ static_url('libs/jsrender/jsrender.js') }}"></script>
<script type="text/javascript" src="{{ static_url('application/js/application.js') }}"></script>
