<link href="{{ static_url('libs/bootstrap/css/bootstrap-3.0.0rc1.css') }}" rel="stylesheet">
<link href="{{ static_url('application/css/styles.css') }}" rel="stylesheet">
<script type="text/javascript" src="{{ static_url('libs/jquery/jquery-1.9.1.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('libs/bootstrap/js/bootstrap-2.3.1.min.js') }}"></script>
<script type="text/javascript" src="{{ static_url('libs/jsrender/jsrender.js') }}"></script>
<script type="text/javascript" src="{{ static_url('application/js/application.js') }}"></script>
